@import "tailwindcss";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* colour palette */
@theme{
    --yellow-light: #fffbe9;
    --yellow-light-hover: #fffadd;
    --yellow-light-active: #fef4ba;
    --yellow-normal: #fddb1f;
    --yellow-normal-hover: #e4c51c;
    --yellow-normal-active: #caaf19;
    --yellow-dark: #bea417;
    --yellow-dark-hover: #988313;
    --yellow-dark-active: #72630e;
    --yellow-dark-darker: #594d0b;

    --blue-light: #e9edf9;
    --blue-light-hover: #dfe4f6;
    --blue-light-active: #bcc7eb;
    --blue-normal: #274ac0;
    --blue-normal-hover: #2343ad;
    --blue-normal-active: #1f3b9a;
    --blue-dark: #1d3890;
    --blue-dark-hover: #172c73;
    --blue-dark-active: #122156;
    --blue-dark-darker: #0e1a43;

}