# App
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Database
DATABASE_URL="mysql://user:password@localhost:3306/db_name"

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# RESEND
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=onboarding@resend.dev
# Local: http://localhost:5173 | Production: https://domain-frontend-kamu.vercel.app
FRONTEND_URL=http://localhost:5173
